.contact-form {
  // margin-left: 83px;
  // margin-top: 30px;
  width: 70%;

  .my-input {
    border-bottom: 1px solid #c2c2db;
    &:focus {
      outline: none;
      border-bottom: 1px solid #4048db;
      box-shadow: none;
    }
  }
}

.contact-form input {
  width: 100%;
  border: none;
}

.contact-form {
  .f-item {
    padding-bottom: 0.5em;
    label {
      font-size: 20px;
      text-align: left;
      font-family: "Euclid Circular Medium";
      letter-spacing: 0.2px;
      color: #02021e;
      opacity: 0.6;
      padding: 2px;
    }
    input {
      font-size: 18px;
      letter-spacing: 0.24px;
      color: #02021e;
      opacity: 1;
      padding: 0 13px 5px;
    }
  }
}

.contact-form button {
 padding: 20px 35px;
  font-size: 18px;
  border: 1px solid #c2c2db;
  border-radius: 40px;
  background-color: #4048db;
  color: #ffffff;
  font-weight: 600;
  opacity: 1;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 0px;
  justify-content: left;
}
.contact-form button:hover {
  border: 1px solid #c2c2db;
  border-radius: 40px;
  background-color: #4048db;
  color: #ffffff;
  cursor: pointer;
}

.contact-form .comment-box {
  width: 100%;
  border-top: none;
  border-left: none;
  border-right: none;
  font-size: 20px;
  letter-spacing: 0.38px;
  color: #02021e;
  opacity: 1;
  padding: 0 13px 5px;
}

.contact-form .comment-box-label label {
  font-size: 20px;
  text-align: left;
  font-family: "Euclid Circular Medium";
  letter-spacing: 0.2px;
  color: #02021e;
  opacity: 0.6;
}

.contact-form .username {
  border: 1px solid black;
}

::placeholder {
  color: #5e5e76;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  ::placeholder {
    font-size: 17px !important;
    padding-bottom: 5px;
  }

  input {
    padding: 5px 0px !important;
  }
  @media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
    

    input {
      padding: 5px 0px !important;
    }

    .contact-form .comment-box {
      padding: 0px;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .contact-form {
      width: 100% !important;
    }

    .contact-form input {
      width: 100%;
      border: none;
    }
    .contact-form input {
      height: 20px;
      border: none;
    }

    .contact-form form {
      margin: 20px;
    }

    .contact-form .comment-box-label label {
      letter-spacing: 0.32px;
      font-size: 24px;
      font-family: "Euclid Circular light";
    }

    input {
      padding: 0px 0px !important;
    }
    .contact-form .comment-box {
      padding: 0px;
    }

    .contact-form {
      .f-item {
        label {
          font-size: 16px !important;
          padding: 2px;
        }
        input {
          padding: 8px;
        }
      }
    }
  }

  @media screen and (min-width: 30em) {
    .contact-form {
      width: 100% !important;
    }
  }
  .ant-form-item-label {
    padding-bottom: 0 !important;
  }

  .ant-form-item-has-error
    :not(.ant-input-disabled):not(.ant-input-borderless).ant-input:focus {
    box-shadow: none;
  }
  .ant-form-item-explain-error {
    padding-left: 13px;
  }

  .contact-form button {
    padding: 15px 25px;

    font-size: 16px;
  }

}


@media screen and (max-width: 768px) {
  .contact-form {
    width: 100% !important;
  }
}
