.about-page {
  .minus-marg {
    margin: 0 -2.5vw;
  }
  // .cliets-logo {
  //   padding-bottom: 0.7em;
  // }
  .about-us-heading {
    // font-size: 40px;
    text-align: left;
    line-height: 1.45;
    letter-spacing: 0.8px;
    color: #02021e;
  }

  .about-us-heading span {
    color: #4048db;
  }

  .about-slider img {
    width: 600px;
    height: 500px;
  }
  .about-para {
    background-color: #f4f8fe;
    .mypara-pad {
      padding: 8em 0;
    }
  }
  .about-para p {
    // font-size: 32px;
    letter-spacing: 0.32px;
    color: #02021e;
    line-height: 1.4;
    font-family: "Euclid Circular Regular";
  }

  .about-para h6 {
    // padding-top: 370px;
    letter-spacing: 0.24px;
    color: #5e5e76;
    font-size: 24px;
    font-family: "Euclid Circular Medium";
  }

  /* achivement start here */

  .achievments h6 {
    color: #5e5e76;
    font-size: 24px;
    font-family: "Euclid Circular Medium";
  }

  .achievments-heading {
    font-size: 60px;
    padding-left: 370px;
    color: #02021e;
    letter-spacing: 0.6px;
    font-family: "Euclid Circular Regular";
  }

  .cards {
    // padding: 10px;
  }

  .cards h1 {
    // text-align: left;
    letter-spacing: 0.7px;
    color: #01051f;
    font-size: 60px;
  }
  .cards h6 {
    font-size: 32px;
    // text-align: left;
    letter-spacing: 0px;
    color: #0a0c26;
    opacity: 1;
    margin-top: 2px !important;
  }

  .cards p {
    color: #5e5e76;
    font-size: 19px;
  }

  /*  our team start here*/
  .my-team.you-img {
    width: 60%;
    margin-top: 10px;
    margin-bottom: 3px;
  }
  .my-team .team {
    // height: 300px;
    width: 70%;
  }
  .my-team .pet-ani {
    max-width: 60%;
  }

  .my-team {
    margin-left: 0px;
    background: #01051f 0% 0% no-repeat padding-box;
    opacity: 1;
  }

  .my-team-heading {
    padding-left: 370px;
    color: #ffffff;
    font-size: 60px;
    padding-right: 137px;
  }

  .my-team h6 {
    font-size: 24px;
    text-align: left;
    color: #ffffff99;
  }
  /* my team heading  */
  .my-team-heading h1 {
    font-size: 60px;
    padding-left: 409px;
    padding-right: 137px;

    font: normal normal normal 60px/70px Euclid Circular B;
    color: #ffffff;
    letter-spacing: 0.6px;
  }

  .teamis h5,
  .pupeess h5 {
    color: #ffffff;

    margin: 35px 0 8px;
    font-family: "Euclid Circular Medium";
  }
  .teamis h5 {
    font-size: 27px;
  }
  .teamis p {
    font-size: 18px;
  }
  .pupeess h5 {
    font-size: 24px;
  }
  .pupeess p {
    font-size: 16px;
  }

  .teamis p,
  .pupeess p {
    color: #ffffff99;
    font-family: "Euclid Circular Regular";
  }

  .carousel {
    .ant-carousel {
      margin: 0 0em 0 -10px;
    }
    .my-pad {
      padding-left: 10px;
      button {
        display: none !important;
      }
    }
  }
}

.my-team {
  h5,
  p {
    text-align: center;
  }
}

.join-team {
  p {
    color: #5e5e76;
    line-height: 1.4;
    font-size: 19px;
  }
  .join-btn a {
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin: auto;
  }
  .join-btn {
    text-decoration: none;
    width: 200px;
    height: 70px;
    border-radius: 40px;
    text-align: center;
    // justify-content: center;
    padding-top: 24px;
    background-color: #4048db;
    font-size: 18px;
    // margin: auto;_app
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .about-page {
    .about-us-heading {
      font-size: 30px;
    }
    .about-para {
      p {
        color: #02021e;
      }
    }

    .cards {
      // width: 33%;
      padding: 15px;
      h1 {
        font-size: 50px;
      }

      h6 {
        font-size: 30px;
        margin-bottom: 2px;
      }
    }
  }
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {
.about-page{
  .cards{
    width: 100%;
  }
}
}
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) {
  .about-page {
    .about-us-heading {
      font-size: 30px;
    }
  }

  .cards h1 {
    // text-align: left;
    letter-spacing: 0.7px;
    color: #01051f;
    font-size: 40px;
  }

  .cards h6 {
    font-size: 16px;
    // text-align: left;
    letter-spacing: 0px;
    color: #0a0c26;
    opacity: 1;
    margin-bottom: 3px !important;
  }

  .cards p {
    color: #5e5e76;
    font-size: 16px;
  }
}

@media only screen and (min-device-width: 2560px) and (max-device-width: 2869px) {
  .about-page {
    .about-us-heading {
      font-size: 55px;
    }

    .cards {
      // padding: 25px;
      h1 {
        font-size: 100px;
      }

      h6 {
        font-size: 50px;
        margin-bottom: 2px;
      }

      p {
        font-size: 40px;
      }
    }
  }

  .about-para {
    p {
      font-size: 50px !important;
    }

    h6 {
      font-size: 40px !important;
    }
  }
}
