.contact-page {
  .contact-us-heading {
    h1 {
    letter-spacing: 1.7px;
    // padding-top: 69px;
    color: #02021e;
  }
}

  .button-heading {
    font-size: 20px;
    text-align: left;
    color: #02021E;
    opacity: 60%;
  }

  .buttons-section button {
    // height: 70px;
    // font-size: 18px;
    cursor: pointer;
    border: 1px solid #c2c2db;
    background-color: #ffffff;
    border-radius: 40px;
    color: #02021e;
    // padding: 27px 32px;
    // margin: 20px;
    letter-spacing: 0.18px;
    font-family: "Euclid Circular light";
  }
  .buttons-section button:hover {
    background-color: #4048db;
    color: #ffffff;
    font-family: "Euclid Circular Medium";
  }

  .buttons-section .active {
    background-color: #4048db;
    color: white;
    font-family: "Euclid Circular Medium";
  }

  .ouraddress-section{
    background-color: #F4F8FE;
    h1{
      letter-spacing: 0.6px;
    }
    h3{
      letter-spacing: 0.32px;
color: #5E5E76;
font-size: 24px;

    }

    h6{
      color: #02021E;
    }

    p{
      color: #5E5E76;
      line-height: 1.6;
      font-size: 22px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contact-page {
    width: 100%;
    // padding: 30px;
  }

  .contact-page .contact-us-heading {
    padding-top: 30px;
    // padding-left: 20px;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .contact-page {
    .about-para {
      p {
        font-size: 14px;
      }
    }

  .ouraddress-section{
    h1{
      letter-spacing: 0.6px;
    }
    h3{
      letter-spacing: 0.32px;
      font-size: 18px;
    }

    h6{
      color: #02021E;
    }

    p{
      line-height: 1.2;
      font-size: 19px;
    }
  }
  }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1339px) {
  .contact-page {
    .about-para {
      p {
        font-size: 14px;
      }
    }

    
  .ouraddress-section{
    h1{
      letter-spacing: 0.6px;
      font-size: 50px;
    }
    h3{

      font-size: 22px;

    }

    h6{
      color: #02021E;
    }

    p{
      line-height: 1.2;
      font-size: 16px;
    }
  }
  }
}

