.work-page {
  .work-us-heading {
    h1 {
      line-height: 1.4;
      font-size: 80px;
    }

    text-align: left;
    letter-spacing: 0.8px;
    color: #f85a3a;
  }
  .main-tag {
    font-size: 24px;
    letter-spacing: 0.24px;
  }

  p {
    letter-spacing: 0.32px;
    color: #02021e;
    opacity: 1;
    line-height: 1.6;
    font-family: "Euclid Circular Regular";
  }

  .nue-subhead {
    letter-spacing: 0.24px;
    color: #5e5e76;
    font-size: 24px;
    font-family: "Euclid Circular Medium";
  }

  .btn1 {
    width: 192px;
    height: 70px;
    font-size: 18px;
    border: 1px solid #c2c2db;
    border-radius: 40px;
    color: #02021e;
    opacity: 1;
    letter-spacing: 0.18px;
  }
}

.testimo-para {
  // font-size: 24px;
  letter-spacing: 0.24px;
  color: #31314d;
  line-height: 1.6;
  font-size: 20px;
}

h6 {
  font-size: 24px !important;
}

@media screen and (max-width: 30em) {
  .work-page {
    .pv4 {
      padding-top: 1px !important;
      padding-bottom: 1px !important;
    }

    .banner-images-are {
      img {
        padding: 5px !important;
      }
    }

    .work-para p {
      font-size: 20px;
    }
    .mobile-img {
      height: 320px !important;
    }
    .banner-images-are {
      height: 400px !important;
    }
  }
  .work-us-heading {
    padding-top: 40px;
    padding-bottom: 40px;

    h1 {
      font-size: 45px !important;
    }
    h6 {
      font-size: 20px !important;
    }
  }

  .container {
    .box {
      .dream {
        .work-img {
          padding: 5px;
          margin: 5px;
        }
      }
    }
  }
}

@media screen and (min-width: 30em) and (max-width: 60em) {
  .work-us-heading {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .work-para p {
    font-size: 20px;
  }
}

.work-page-new {
  .card_image img {
    // position: relative;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 92%;
    // -o-object-fit: contain;
    // object-fit: contain;
    // transition: all 1s cubic-bezier(0.67, 0, 0.285, 1), opacity 0s linear;
  }

  .container-works {
    margin: 0 -1em;
    // margin-top: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    // justify-content: space-between;
  }

  .card_image {
    transition: all 0.5s cubic-bezier(0.67, 0, 0.285, 1);
    opacity: 1;
    transform: translateY(0);
  }
  .card_image {
    display: block;
    // width: calc(33.33333% - 0px);
    // margin-bottom: 25px;
    // padding-bottom: 32%;
    position: relative;
    // -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // transform: translateY(40px);
    // opacity: 0;
  }
  @media screen and (min-width: 1250px) {
    // .card_image:hover {
    //   -webkit-clip-path:polygon(5% 10%, 90.4% 0, 90.4% 90%, 5% 95%);
    //   clip-path: polygon(5% 10%, 90.4% 0, 90.4% 90%, 5% 95%);
    //   transition-delay: 0s !important;
    // }
    // .card_image:hover img {
    //   transform: translateZ(0) scale(1.1);
    // }
  }

  @media screen and (max-width: 30em) {
    .card_image {
      width: 100%;
      // height: 400px;
    }
  }
}
.work-caption {
  h2 {
    font-size: 23px;
    color: #000;
  }
  p {
    font-size: 18px;
    color: #5e5e76;
  }
}
