
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}



.main-404{
	height: 100vh;
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	background: rgb(26, 188, 156);
	background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
	background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);


.header-404 {
	font-size: 50px;
	margin: 10px 0 0 0;
	font-weight: lighter;
	text-transform: uppercase;
	color: #eeeeee;
}

.p-404 {
	font-size: 12px;
	font-weight: light;
	color: #fff;
  padding: 1em 0 .4em;
}


.container-404 {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.avatar-astro {
	    width: 450px;
    height: 450px;
	box-sizing: border-box;
	border: 5px white solid;
	border-radius: 50%;
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}
.avatar-astro > img{
  width: 100%; height: auto;
}

.content-404 {
	width: 100%;
	max-width: 600px;
	padding: 20px 40px;
	box-sizing: border-box;
	text-align: center;
}
.button-404{
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  text-decoration: none;
  border: 1px solid #efefef;
  padding: .5em;
  border-radius: 3px;
  /* float: left;
  margin: 6em 0 0 -155px;
  left: 50%; */
  position: relative;
  transition: all .3s linear;
  background: transparent;
}
}

@media only screen and (max-width: 750px) {

    .subh-header-animation{
      width: 80%;
    }
    .avatar-astro{
      width: 40vh !important;
      height: 40vh !important;
    }
    .header-404 {
      font-size: 30px !important ;
    }
      .top-height8789{
      padding-top:2rem !important;
    }
  }