.carrer-page,
.work-page,
.career-details {
  .career-heading1 {
    background-color: #f4f8fe;
  }
  .career-heading {
    h1 {
      letter-spacing: 0.8px;
      color: #02021e;
      opacity: 1;
      margin: 0px;
    }

    h3 {
      letter-spacing: 0.28px;
      color: #02021e;
      margin-top: 20px;
    }

    span {
      background-color: #dd4545;
      color: #ffffff;
      height: 20px;
      width: 25px !important;
      border-radius: 50%;
      font-size: 20px;
      padding: 4px;
      letter-spacing: 0.2px;
    }
  }

  .career-details {
    .career-heading {
      background-color: #f4f8fe;
      h1 {
        letter-spacing: 0.6px;
        color: #02021e;
      }

      h3 {
        letter-spacing: 0.28px;
        color: #5e5e76;
      }
    }
  }

  .career-info {
    p {
      letter-spacing: 0.24px;
      color: #5e5e76;
    }
  }

  h6 {
    color: #02021e;
    font-size: 36px;
  }

  ul li {
    font-family: "Euclid Circular Regular";
    letter-spacing: 0.24px;
    color: #5e5e76;
  }

  .apply-btn a {
    text-decoration: none;
    color: #ffffff !important;
    font-size: 20px;
    border-radius: 40px;
    padding: 1em 2em;
  }

  .apply-btn {
    // width: 214px;
    // height: 70px;
    // border-radius: 40px;
    // background-color: #4048db;
    // border: lightgray;
    // justify-content: center;
    // margin: auto;
    // margin-bottom: 50px;
    // margin-top: 50px;
    // padding-top: 18px;
    // padding-left: 45px;
  }

  .worklife-section,
  .gallary {
    background-color: #01051f;
  }

  .gallary {
    padding-bottom: 80px;
    background-color: #01051f;
  }

  .worklife-section {
    h1 {
      letter-spacing: 0.6px;
      color: #ffffff;
      opacity: 1;
    }
  }

  .tabs-link {
    a {
      text-decoration: none;
    }

    .active-tab,
    .active {
      letter-spacing: 0.22px;
      color: #4048db !important;
      border-bottom: 3px solid #4048db;
    }

    .tab-label {
      letter-spacing: 0.22px;
      color: #5e5e76;
      // font-size: 26px;
    }
  }

  .career-list {
    a {
      text-decoration: none;
    }
  }

  .feild-heading {
    color: #02021e;
    font-size: 42px;
  }

  // work life gallery section
  .gall {
    background-color: #01051f;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // padding: 30px;
    background-color: #01051f;
  }

  .container .box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .container .box .dream {
    display: flex;
    flex-direction: column;
    width: 32.5%;
  }
  .container .box .dream img {
    width: 100%;
    padding-bottom: 20px;
  }

  @media only screen and (max-width: 769px) {
    .container .box {
      flex-direction: column;
    }

    .container .box .dream {
      flex-direction: column;
      width: 100%;
    }

    .mts {
      margin-top: 0px;
    }

    .banner-images-are img {
      width: 100%;
      padding: 40px 0px 40px 0px;
    }

    .mls0 {
      margin-left: 0px;
    }

    .apply-btn {
      width: 200px;
      height: 50px;
      font-size: 16px;
      padding-top: 10px;
    }
  }

  .text-content-bottom {
    color: #ffffff !important;
  }

  @media screen and (min-device-width: 320px) and (max-device-width: 768px) {
    .tab-label {
      font-size: 16px !important;
    }

    .whatwedo-overview .what-wedo-container .service-column p {
      padding: 0px !important;
      margin-top: 0px !important;
    }
  }

  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .career-details .contact-form {
      width: 100% !important;
    }
    .contact-form input {
      height: 40px;
      border-bottom: 1px solid gray;
    }

    .contact-form form {
      margin: 20px;
    }

    .contact-form .comment-box-label label {
      // width: 523px;
      // height: 48px;
      letter-spacing: 0.38px;
      font-size: 20px;
      font-family: "Euclid Circular light";
    }
  }

  .career-list {
    // padding-left: 15px;
    // border-bottom: 1px solid gray;
  }

  .title-heading {
    // font-size: 36px;
  }

  @media screen and (min-width: 60em) {
    .what-wedo-container .subheading {
      font-size: 30px;
    }

    .title-heading {
      font-size: 35px !important;
      margin-top: 10px !important;
    }
  }
}

@media screen and (max-width: 425px) {
  .carrer-page {
    .banner-images-are {
      height: 350px !important;
    }
  }
}

@media screen and (min-width: 30em) {
  .career-details .contact-form {
    width: 100% !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1439px) {
  .what-wedo-container .subheading {
    font-size: 32px !important;
  }

  .carrer-page .title-heading {
    font-size: 32px !important;
    margin-top: 10px !important;
  }
}

@media only screen and (min-device-width: 961px) and (max-device-width: 1023px) {
  .what-wedo-container .subheading {
    font-size: 25px !important;
  }

  .carrer-page .title-heading {
    font-size: 25px !important;
    margin-top: 10px !important;
  }
}

.career-details .contact-form {
  .attach-resume {
    font-size: 20px;
    letter-spacing: 0.24px;
    color: #5e5e76;
  }
}

.border-btm {
  border-bottom: 1px solid gray;
}
