.OtherPages {
    // padding: 7em 0 8em;
  .needTXT {
    font-family: "Euclid Circular Medium";
    color: #02021e;
    // font-size: 1.5em;
    // padding-top: 2.2em;
  }
  .page-title-pagehe {
    // font-size: 2.2em;
    font-family: "Euclid Circular Medium";
    color: #02021e;
  }
  .paragraph--pp {
    // font-size: 1.2rem;
    line-height: 1.3;
    font-weight: 300;
    color: #5e5e76;
    margin: 1rem auto;
    text-align: justify;
    font-family: "Euclid Circular Regular";
  }

  ul li {
    font-family: "Euclid Circular Regular";
    letter-spacing: 0.24px;
    color: #5e5e76;
    font-size: 17px;
    line-height: 1.8;
  }
  a{
    color: #4048DB;
    text-decoration: none;
  }

}

