.whatwedo-overview {

  background: #f4f8fe;
  .title-txt {
    // font-size: 60px;
    letter-spacing: 0.6px;
    color: #02021e;
    line-height: 1.2;
  }
  .last-service {
    border-bottom: none !important;
    padding-bottom: 0;
  }
  .botfr {
    border-bottom: 1px solid #a1b8db;
  }

  .subheading {
    // font-size: 36px;
    letter-spacing: 0.36px;
    text-decoration: none;
    color: #02021e;
    // margin-bottom: 0.6em;
  }


  .what-wedo-container {
    .subheading {
      // font-size: 36px;
      letter-spacing: 0.36px;
      text-decoration: none;
      color: #02021e;
      // margin-bottom: 0.6em;
    }


    .description{
      text-decoration: none;
      color: #5e5e76;
      line-height: 1.5;
      font-size: 21px;
      
    }
    /* Create two equal columns that floats next to each other */
    .service-column {
      float: left;
      // width: 50%;
      // padding: 5px 0;
    }
    .show-all {
      font-size: 21px;
    }
    .show-all-di {
      &:hover{
        text-decoration: underline;
      }
      svg {
        fill: $primary;
        width: 17px;
        height: 16px;
        margin-left: 12px;
      }
    }
    /* Clear floats after the columns */
    .service-row {
      p {
        // font-size: 22px;
        margin-bottom: 0;
        color: #02021e;

      }
    }
    .service-row:after {
      content: "";
      display: table;
      clear: both;
    }
    .bullet-box {
      float: left;
      height: 6px;
      width: 6px;
      background: #4048db;
      border: 1px solid #4048db;
      // margin: 10px 10px 0 0px;
    }
  }
  .back-btn {
    // transform: rotate(180deg);
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
  .whatwedo-overview .what-wedo-container .service-column {
    float: left;
    width: 100%;
    padding: 3px 0;
  }
  
}
.show-all {
  svg {
    height: 12px;
    margin-left: 5px;
  }
}
.no-cursor{
  cursor: none;
}