.clr-02021e {
  color: #02021e;
}
.clr-5e5e76 {
  color: #5e5e76;
}
.clr-01051f {
  color: #01051f;
}
.bg-dark {
  background: #01051f;
}
.bg-lightdark{
  background-color: #1a1a2e;
}
.clr-585881 {
  color: #585881;
}
.clr-ffffff99{
  color: #ffffff99;
}
.clr-afafc6{
color: #afafc6;
}