@media screen and (max-width: 30em) {
  .service-page .service-details .serial-no {
    font-size: 18px !important;
  }
  .title-heading {
    font-size: 25px;
  }
  .work-padd {
    padding: 2.6em 0;
  }
  .banner-topa {
    padding-bottom: 0.7em;
    padding-top: 1.4em;
  }

  .redetailsheading {
    p,
    li {
      font-size: 16px;
      line-height: 1.5;
    }
  }
  .work-detailssd {
    padding: 1.2em 0 2em;
    h1 {
      font-size: 20px;
      padding-bottom: 8px;
    }
    p {
      font-size: 14px;
    }
  }
  .join-team {
    p {
      font-size: 18px;
    }
  }
  .resources-page .tab-label {
    font-size: 16px;
  }
  .service-page .service-details .serview-ded {
    font-size: 16px !important;
  }
  .m-head {
    font-size: 32px;
  }
  .b-head {
    font-size: 28px;
  }
  .w-100-mobile {
    width: 100%;
  }
  .m-subhead {
    font-size: 19px;
  }
  .m-ptag {
    font-size: 15px;
  }
  .main-footer-txt {
    font-size: 6.5vw;
  }

  .email-content {
    .email {
      font-size: 5vw;
    }
  }
  .resources-page .heading-hai {
    margin-top: 0;
    margin-bottom: 4px !important;
  }
  .whatwedo-overview .subheading {
    font-size: 20px;
  }
  .hero-banners {
    h1 {
      font-size: 9vw;
    }
  }
  .page-head {
    font-size: 29px;
  }
  .service-page .service-details .service-list {
    padding: 2.5em 0;
  }
  .career-heading h1 {
    font-size: 45px;
  }
  .contact-us-heading h1 {
    padding-top: 29px;
    font-size: 45px;

    .ml0-s {
      margin-left: 0px;
    }
    //  .page-he1 {
    //   font-size: 42px;
    // }
  }
  .pad-mt {
    padding-top: 2rem;
  }
  .pad-mb {
    padding-bottom: 2rem;
  }
  .pns {
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 60em) {
  .container1 .box1 .dream1 img {
    padding-bottom: 50px;
  }
  .career-details .tabs-link .tab-label{
    font-size: 26px;
  }
  .title-heading {
    font-size: 36px;
  }

  .margingservi {
    margin: 0 -1em;
  }
  .our-process-1 {
    p {
      font-size: 19px;
      line-height: 1.6;
    }
  }
  .whatwedo-overview {
    .services-title {
      font-size: 40px;
    }
  }
  .banner-topa {
    padding-bottom: 2.5em;
    padding-top: 3em;
  }

  .blog-page {
    .blog-padding {
      padding-right: 5em;
      padding-left: 5em;
    }
  }
  .service-page .service-details .service-list {
    padding: 5em 0;
  }
  .give-padding {
    padding: 6.5em 0;
  }
  .justify-center-l {
    justify-content: center;
    margin: auto;
  }
  .hero-banners {
    h1 {
      font-size: 6.5vw;
    }
  }
  .m-head {
    font-size: 55px;
  }
  .b-head {
    font-size: 40px;
  }
  .m-subhead {
    font-size: 24px;
  }
  .m-ptag {
    font-size: 15px;
  }
  .m-sub-tes {
    font-size: 21px;
  }
  .Testimonial-section {
    .client-img img {
      // max-width: 100%;
      height: 500px;
      width: 450px;
    }
  }
  .email-content {
    .email {
      font-size: 100px;
    }
  }
  .main-footer-txt {
    font-size: 60px;
  }
  .middle-content {
    p {
      font-size: 22px;
    }
  }
  .email-content {
    .email {
      font-size: 36px;
    }
  }
  .whatwedo-overview .subheading {
    font-size: 30px;
  }
  .btn-pas {
    padding: 22px 37px;
  }
  .banners-componets {
    height: calc(100vh - 69px);
  }
  .page-head {
    font-size: 58px;
  }

  .work-d {
    p {
      max-width: 50%;
    }
  }
  .work-page-new {
    .work1-heading {
      h1 {
        max-width: 51% !important;
        // font-size: ;
      }
    }
  }
  .pns {
    font-size: 19px;
  }
}
@media screen and (min-width: 30em) {
  // .de-main-title {
  //   font-size: 60px;
  // }
  .redetailsheading {
    p,
    ul {
      font-size: 19px;
    }
  }
  .contact-us-heading h1 {
    padding-top: 69px;
  }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
  .title-heading {
    font-size: 30px;
    // padding-bottom: 20px;
  }
  .banner-topa {
    padding-bottom: 1.5em;
    padding-top: 2em;
  }

  .whatwedo-overview {
    .services-title {
      font-size: 30px;
    }
  }

  .work-detailssd {
    padding: 1.4em 0 2.5em;
    h1 {
      font-size: 23px;
      padding-bottom: 12px;
    }
    p {
      font-size: 16px;
    }
  }
  .pad-mt {
    padding-top: 3rem;
  }
  .pad-mb {
    padding-bottom: 3rem;
  }
  .service-page .service-details .service-list {
    padding: 3em 0;
  }
  .m-head {
    font-size: 39px;
  }
  .b-head {
    font-size: 30px;
  }
  .service-page .service-details .serview-tt {
    font-size: 25px !important;
  }
  .service-page .service-details .serview-ded {
    font-size: 19px !important;
  }
  .hero-banners {
    h1 {
      font-size: 7vw;
    }
  }
  .m-subhead {
    font-size: 25px;
  }
  .m-ptag {
    font-size: 15px;
  }
  .main-footer-txt {
    font-size: 37px;
  }
  .middle-content {
    p {
      font-size: 16px;
    }
  }
  .email-content {
    .email {
      font-size: 28px;
    }
  }
  .whatwedo-overview .subheading {
    font-size: 25px;
  }
  .page-head {
    font-size: 35px;
  }

  .work-d {
    p {
      // max-width: 70%;
    }
  }
}

@media screen and (max-width: 60em) {
  // .quotes-bg .give-padding {
  //   padding: 3em 0 !important;
  // }
  .container1 .box1 .dream1 img {
    padding-bottom: 25px;
  }
  .mobPada {
    padding-bottom: 1.5em;
  }
  .psb-ms {
    padding-bottom: 0.7em;
  }
  .pms {
    font-size: 16px;
    line-height: 1.5;
  }
  .test-arr {
    display: none !important;
  }

  .inline-grid-m {
    display: inline-grid;
  }
  .mobile-bg {
    background-color: #4048db !important;
  }
  .service-page .our-process-2 .thisishead,
  .about-page .cards p {
    font-size: 18px;
  }
  .service-page .our-process-2 .mytitle,
  .about-page .cards h6 {
    font-size: 25px;
  }
  .service-page .our-process-2 .seno,
  .about-page .cards h1 {
    font-size: 50px;
  }
  .banners-componets {
    height: calc(70vh - 69px);
  }
  .tcmh {
    text-align: center;
  }
  .Testimonial-section {
    .client-img img {
      max-width: 100%;
    }
  }
  .m-sub-tes {
    font-size: 16px;
  }
  .footer-dis {
    width: 50%;
  }
  .btn-pas {
    padding: 17px 25px;
  }
  .bottom-footer {
    p {
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 575px) {
  .buttons-section button {
    font-size: 17px;
    padding: 18px 37px;
  }
  // .logo-container svg {
  //   width: 140px;
  //   position: absolute;
  //   top: -4.5em;
  //   margin-left: -25px;
  // }
  .d-flex {
    display: flex;
  }
  .fo-btn {
    text-align: right;
  }
  .padd0 {
    padding-bottom: 2em;
  }
  .service-row {
    p {
      font-size: 19px;
    }
  }
  // .bullet-box {
  //   margin: 8px 10px 0 0px;
  // }
  .buttonGroup {
    margin: 0 0 0 -20px;
    button {
      margin: 10px 0 10px 20px;
    }
  }
  .OtherPages {
    padding: 7em 0 8em;
    .pthog {
      padding-top: 1.2em;
    }
    .needTXT {
      font-size: 1.7em;
    }
    .page-title-pagehe {
      font-size: 2.5em;
    }
    .paragraph--pp {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 578px) {
  .service-row {
    p {
      margin-top: 0px;
      font-size: 17px;
      margin-bottom: 0px;
    }
  }
}

@media screen and (max-width: 575px) {
  .OtherPages ul {
    margin-bottom: 0px;
    margin-top: 16px;
    li {
      font-size: 0.87rem;
      line-height: 1.3;
      margin-bottom: 4px;
    }
  }
  .main-header header nav {
    height: 68.6px;
  }
  .OtherPages {
    padding: 4em 0 5em;
  }

  .mph20 {
    padding-left: 20px;
    padding-right: 20px;
  }
  .fo-btn {
    text-align: justify;
  }
  .se-pa {
    padding-bottom: 12px;
  }
  .footer-dis {
    width: 100%;
  }
  .bottom-footer {
    p {
      font-size: 13px;
    }
  }
  .padd0 {
    padding-bottom: 1em;
  }
  .lastp {
    margin-top: 6px;
    padding-bottom: 4px;
  }
  .service-row {
    p {
      margin-top: 0px;
      font-size: 15px;
    }
  }
  // .bullet-box {
  //   margin: 6px 10px 0 0px;
  // }
  .buttons-section button {
    font-size: 13px;
    padding: 10px 10px;
  }
  .buttonGroup {
    width: calc(100% + 50px);
    margin-bottom: 0;
    padding: 0 5px;
    overflow-x: auto;
    margin: 0 -20px;
    // display: flex;
    button {
      text-align: left;
      flex: 0 0 auto;
      margin: 10px 2px;
    }
  }

  .OtherPages {
    .needTXT {
      font-size: 1.4em;
    }
    .page-title-pagehe {
      font-size: 2em;
    }
    .pthog {
      padding-top: 0.8em;
    }
    .paragraph--pp {
      font-size: 0.9rem;
    }
  }

  .work-page-new {
    .work1-heading {
      h1 {
        max-width: 100% !important;
        // font-size: ;
      }
    }
  }
}

@media screen and (min-device-width: 961px) and (max-device-width: 1339px) {
  // contact us page
  .contact-form {
    width: 100% !important;
  }

  .contact-page {
    .contact-us-heading {
      h1 {
        font-size: 60px !important;
      }
    }
  }
  .contact-page {
    .about-para {
      p {
        font-size: 14px;
      }
    }

    .ouraddress-section {
      h1 {
        letter-spacing: 0.6px;
        font-size: 36px !important;
      }
      h3 {
        font-size: 20px;
      }

      h6 {
        color: #02021e;
      }

      p {
        line-height: 1.2;
        font-size: 16px;
      }
    }

    .work-page-new {
      .work1-heading {
        p {
          letter-spacing: 0.18px;
          color: #02021e;
          font-size: 18px;
        }

        h1 {
          max-width: 70% !important;
          // font-size: ;
        }
      }
    }
  }

  // resources page
  .resources-page .heading-hai {
    font-size: 60px;
  }

  .resource-details {
    .container-wrap {
      margin: 50px;
    }
  }

  .page-head {
    font-size: 35px !important;
    line-height: 1.3;
  }

  .about-page {
    .about-us-heading {
      .page-head {
        font-size: 60px;
      }
    }
  }

  .service-page {
    .title {
      font-size: 55px;
      max-width: 700px;
    }
    .subheading {
      font-size: 30px;
    }
    .quotes-bg {
      .quotes {
        font-size: 24px;
      }
    }
  }

  .banner-images-are {
    height: 500px !important;
  }

  .work-page-new {
    .work1-heading {
      h1 {
        max-width: 50% !important;
        // font-size: ;
      }
    }
  }
  .page-head {
    font-size: 40px !important;
  }
}
//for mobile nav
@media screen and (max-width: 815px) {
  .header-hai {
    .main-nav {
      display: none;
    }
  }
  .moble-left-pad {
    // z-index: 2;
    // position: absolute;
    // margin-top: -8.4%;
    // cursor: pointer;
    svg {
      width: 115px;
      position: absolute;
      margin-top: -57px;
    }
  }
}

@media screen and (min-width: 815px) {
  .menu-nav {
    display: none;
  }
  .logo-container svg {
    width: 140px;
    position: absolute;
    top: -4.5em;
    margin-left: -25px;
  }
  .header-hai {
    .main-nav {
      display: flex;
    }
  }
  .window {
    display: none;
  }
}
