.headline-animation {
  /* ------------------text animation start---------------------------- */
  .js-nametag {
    position: absolute;
    top: -80px;
  }

  .js-nametag:nth-child(1) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate-reverse;
  }

  .js-nametag:nth-child(2) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate;
  }

  .js-nametag:nth-child(3) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate;
  }

  .js-nametag:nth-child(4) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate;
  }

  .js-nametag:nth-child(5) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate;
  }

  .js-nametag:nth-child(6) {
    animation-name: fade;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-duration: 0.3s;
    animation-direction: alternate;
  }

  @keyframes fade {
    0%,
    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .animation-box {
    position: relative;
  }

  .hscroll-line {
    overflow: hidden;
    width: 277px;
    transform: rotate(90deg);
    transform-origin: 38% 50%;
    height: 3px;
    position: absolute;
    border-radius: 39px;
  }

  @media only screen and (max-width: 750px) {
    .js-nametag {
      position: absolute;
      top: 0px;
    }

    .anm {
      display: none;
    }
  }

  /* ------------------text animation end---------------------------- */

  .cd-title {
    position: relative;
    height: 160px;
    line-height: 230px;
    text-align: center;
  }

  .cd-title h1 {
    font-size: 2.4rem;
    font-weight: 700;
  }

  @media only screen and (min-width: 768px) {
    .cd-title {
      line-height: 250px;
    }
  }

  @media only screen and (min-width: 1170px) {
    .cd-title {
      height: 200px;
      line-height: 300px;
    }

    .cd-title h1 {
      font-size: 3rem;
    }
  }

  /* .cd-intro {
      width: 90%;
      max-width: 768px;
      text-align: center;
    }
    
    .cd-intro {
      margin: 4em auto;
    } */
  /* @media only screen and (min-width: 768px) {
      .cd-intro {
        margin: 5em auto;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-intro {
        margin: 6em auto;
      }
    } */

  /* .cd-headline {
      font-size: 3rem;
      line-height: 1.2;
    }
    @media only screen and (min-width: 768px) {
      .cd-headline {
        font-size: 4.4rem;
        font-weight: 300;
      }
    }
    @media only screen and (min-width: 1170px) {
      .cd-headline {
        font-size: 6rem;
      }
    } */

  .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
  }

  .cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    left: 0;
    top: 0;
  }

  .cd-words-wrapper b.is-visible {
    position: relative;
  }

  .no-js .cd-words-wrapper b {
    opacity: 0;
  }

  .no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
  }

  /* -------------------------------- 
    
    xscale 
    
    -------------------------------- */
  .cd-headline.scale b {
    opacity: 0;
  }

  .cd-headline.scale i {
    display: inline-block;
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
  }

  .is-visible .cd-headline.scale i {
    opacity: 1;
  }

  .cd-headline.scale i.in {
    -webkit-animation: scale-up 0.6s forwards;
    -moz-animation: scale-up 0.6s forwards;
    animation: scale-up 0.6s forwards;
  }

  .cd-headline.scale i.out {
    -webkit-animation: scale-down 0.6s forwards;
    -moz-animation: scale-down 0.6s forwards;
    animation: scale-down 0.6s forwards;
  }

  .no-csstransitions .cd-headline.scale i {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }

  .no-csstransitions .cd-headline.scale .is-visible i {
    opacity: 1;
  }

  @-webkit-keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
      opacity: 0;
    }

    60% {
      -webkit-transform: scale(1.2);
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(1);
      opacity: 1;
    }
  }

  @-moz-keyframes scale-up {
    0% {
      -moz-transform: scale(0);
      opacity: 0;
    }

    60% {
      -moz-transform: scale(1.2);
      opacity: 1;
    }

    100% {
      -moz-transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes scale-up {
    0% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }

    60% {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
      opacity: 1;
    }

    100% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes scale-down {
    0% {
      -webkit-transform: scale(1);
      opacity: 1;
    }

    60% {
      -webkit-transform: scale(0);
      opacity: 0;
    }
  }

  @-moz-keyframes scale-down {
    0% {
      -moz-transform: scale(1);
      opacity: 1;
    }

    60% {
      -moz-transform: scale(0);
      opacity: 0;
    }
  }

  @keyframes scale-down {
    0% {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }

    60% {
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      opacity: 0;
    }
  }

  .tj {
    text-align: justify;
  }

  i {
    font-style: normal;
  }

  .nav-atTop {
    background: transparent !important;
  }

  .display-nome {
    display: none;
  }

  /* @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);
  
  html, body {
      margin: 0;
      padding: 0;
  } */
  .Heading-h1,
  .Heading-h2 {
    font-size: 8vw;
    font-family: "Questrial", sans-serif;
    line-height: 0.9;
    text-align: justify;
    margin: 0;
    position: absolute;
    top: 50%;
    z-index: 5555;
    left: 50%;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* text-align-last: center; */
  }

  /*# sourceMappingURL=main.edf130df.chunk.css.map */

  .Heading-h1 {
    font-size: 8vw;
    font-family: "Questrial", sans-serif;
    line-height: 0.9;
    text-align: justify;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 600;
    letter-spacing: 1px;
    transform: translate(-50%, -50%);
    /* width: 100%; */
    /* text-align-last: center; */
  }
  /* .Heading-h2 {
      font-size: 8vw;
      font-family: "Open Sans", sans-serif;
      line-height: 0.9;
      text-align: justify;
      letter-spacing: -8px;
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  } */

  .animationBootTxt {
    opacity: 0;
    animation-duration: 2.7s;
    animation-name: example;
  }

  /* The animation code */
  @keyframes example {
    0% {
      opacity: 1;
    }

    25% {
      opacity: 1;
    }

    50% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  #bootloader-container {
    /* font-family: 'Lato', sans-serif; */
    background: #fff;
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .asasdfasdf {
    text-align: center;
    background: #fff;
    position: fixed;
    width: 100vw;
    height: 100%;
    z-index: 111111;
  }
  .logo-container {
    width: 42rem;
    height: 6.25rem;
    font-weight: 100;
    color: #000;
    font-size: 4rem;
    transition: all 500ms;
    text-align: center;
    letter-spacing: 0.125em;
  }

  .logo-container span {
    color: rgb(64, 72, 219);
  }

  .ProgressBar {
    /* border: 4px solid grey;
    border-radius: 4px; */
    height: 100vh;
    width: 100vw;
  }

  .ProgressBar__Progress {
    background: #3f49db;
    height: 100%;
    width: 0%;
  }
  .css-1rhbuit-multiValue {
    // background-color: hsl(237deg 68% 55%) !important;
  }
  .css-12jo7m5,
  .select__multi-value__remove > svg {
    color: white !important;
  }
  .css-xb97g8:hover {
    background-color: #de350b !important;
  }
  .is-done {
    display: none;
  }

  .subh-header-animation {
    animation: sub__headerAnimation;
    animation-fill-mode: both;
    display: block !important;
  }
  .showpopInAnimation {
    animation: scale-up 0.6s forwards;
  }

  /* The animation code */
  @keyframes sub__headerAnimation {
    0% {
      transform: translate3d(0, -20px, 0);
      opacity: 0;
    }

    35% {
      transform: translateZ(0);
    }
    /* 99% {
          opacity: 1;
      } */
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }

  @media only screen and (max-width: 768px) {
    .cd-words-wrapper > b {
      width: 100%;
    }
  }
}
